* {
/*	padding: 0;
	margin: 0;*/
}
main {
	width:500px;
	text-align: justify;
}
.left, .right, .center {
	background:CornFlowerBlue;
	padding: 10px;
	border-radius: 5px;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 0 5px white;
}

.left {
	float:left;
	margin-right: 10px;
}
.right {
	float:right;
	margin-left: 10px; 
}
.center {
	margin: 0 auto;
}